body {
	display: block;
	margin: 0;
}
.collumns{
	display: flex;
	width: 100vw;
	height: 90vw;
	vertical-align:middle;
}

a:link {
	text-decorations: none;
	margin-top:0px; /* need this to clear the default margin */
    	margin-bottom:0px;
}
.Lore{
	height: 100vh;
	width: calc(100vw/6);
	background-color: #FF0D0D;
}

.Figures{
	height: 100vh;
	width: calc(100vw/6);
	background-color: #FF5802;
}

.Factions{
	height: 100vh;
	width: calc(100vw/6);
	background-color: #545454;
}

.Warframes{
	height: 100vh;
	width: calc(100vw/6);
	background-color: #FF0D0D;
	image: url(prime.png)
}

.Evolution{
	height: 100vh;
	width: calc(100vw/6);
	background-color: #FF5802;
}

.Art{
	height: 100vh;
	width: calc(100vw/6);
	background-color: #545454;
}
.banner{
background-color: #000000;
height: 10vh;
width 100vw;
}
h1{
color: #FFFAF7;
font-family: Play, sans-serif;
text-align: center;
}

h2{
color: #FFFAF7;
font-family: Play, sans-serif;
text-align: center;
}
	@media screen and (max-width: 800px){
	.collumns {
	width: 100vw;
	height: 100vh;
	display: block;
	margin: 0;
}
.Lore{
	height: calc(100vh/6);
	width: 100vw;
	background-color: #FF0D0D;
}

.Figures{
	height: calc(100vh/6);
	width: 100vw;
	background-color: #FF5802;
}

.Factions{
	height: calc(100vh/6);
	width: 100vw;
	background-color: #545454;
}

.Warframes{
	height: calc(100vh/6);
	width: 100vw;
	background-color: #FF0D0D;
}

.Evolution{
	height: calc(100vh/6);
	width: 100vw;
	background-color: #FF5802;
}

.Art{
	height: calc(100vh/6);
	width: 100vw;
	background-color: #545454;
}
	
}
