body{
background-color: #545454;
width: 100vw;
height: 100vh;
display: flex;
margin: 0;
}

.back{
background-color: #000000;
width: 5vw;
height: 100vw;
text-color: #ffffff;
}

a:link {
  text-decorations: none;
}
img{
max-height: 100%;
max-width: 100%;
margin: auto;
}

p{
text-decoration: underline;
text-color: #ffffff;
font-weight: bold;
font-family: Impact;
}

.omni{
display: block;
}

.square{
display: flex;
padding: 4vw;
}

.stakz{
width:55vw;
height: 20vh; 
margin-top:0px; /* need this to clear the default margin */
margin-bottom:0px;
font-family: Play, sans-serif;
}

.pic{
width: 20vh;
height: 20vh;
}

@media screen and (max-width: 414px){
body{
 width: 100vw;
height: 100vh;
display: flex;
margin: 0;
}
  .omni{
display: block;
}

.square{
display: block;
padding: 1vw;
}

.stakz{
width:91vw;
height: 20vh; 
}

.pic{
width: 20vh;
height: 20vh;
margin: auto;
}
